# Создание БД
----

## База данных опционов(всех)

In [4]:
import os
import asyncio

from dotenv import load_dotenv

from tInvestAPI import TinvestAPI


# Токен санбокс т-инвестиции
load_dotenv()
TOKEN_TIN_SanBox = os.getenv("TOKEN_TIN_SanBox")
# Создание объекта для методо тинвест
tin = TinvestAPI(TOKEN_TIN_SanBox)

In [5]:
# Получчение всех опционов
options = await tin.show_options()

In [39]:
# Запись опционов в фрейм
import pandas as pd
df_options = pd.DataFrame(options.instruments)

In [44]:
# Удаляем бренд - в таблицу не пишет словарь
del df_options['brand']
print(df_options.brand)

AttributeError: 'DataFrame' object has no attribute 'brand'

In [8]:
# Создаем БД и подключаемся к ней
import sqlite3
con = sqlite3.connect('educational.db')

In [45]:
# Создаем новую таблицу в БД и записываем в неё опционы
df_options.to_sql(name='Опционы', con=con, if_exists='replace', index=False)

ProgrammingError: Error binding parameter 22: type 'dict' is not supported

In [38]:
# Просмотр таблицы
df = pd.read_sql("SELECT * FROM Опционы", con)
print(df)

                                        uid
0      354736a5-cf7b-4760-935a-dc169fa58b20
1      03c41b53-e172-469f-a057-1b1ebe2a3843
2      2e7eb1dc-988b-41a7-9b85-12e39cabcc97
3      6c1b5f64-c578-4fcb-8e66-5e6a5c7953e2
4      4be44fb7-45e1-4854-b9ad-e05d442228b6
...                                     ...
12135  84cc246c-2a37-4a9b-a294-3930a1672091
12136  a868c217-7232-46c2-ab55-237950300525
12137  992c464a-affa-4196-9c27-6c670bf3afc8
12138  1c1397a6-6401-4f0e-ac8b-bf4efc8d66f9
12139  2c1a8cda-c215-451b-a4e1-ca19d2989e76

[12140 rows x 1 columns]